In [65]:
import pandas as pd

#A high-level snapshot of the district's key metrics, presented in a table format
#An overview of the key metrics for each school, presented in a table format
#Tables presenting each of the following metrics:
##Top 5 and bottom 5 performing schools, based on the overall passing rate
##The average math score received by students in each grade level at each school
##The average reading score received by students in each grade level at each school
##School performance based on the budget per student
##School performance based on the school size 
##School performance based on the type of school

In [66]:
load_school_data = "Resources/schools_complete.csv"
load_student_data = "Resources/students_complete.csv"

school_data_df = pd.read_csv(load_school_data)
student_data_df = pd.read_csv(load_student_data)

In [67]:
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

C:\Users\Bradley\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  after removing the cwd from sys.path.

In [68]:
# Combine the data into a single dataset.
full_data_df = pd.merge(student_data_df, school_data_df, on=["school_name", "school_name"])
full_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [69]:
school_count = school_data_df["school_name"].count()
print(school_count)

student_count = full_data_df["Student ID"].count()
student_count

15

39170

In [70]:
total_budget = school_data_df["budget"].sum()
total_budget

24649428

In [71]:
average_reading_score = full_data_df["reading_score"].mean()
average_reading_score

81.87784018381414

In [72]:
average_math_score = full_data_df["math_score"].mean()
average_math_score

78.98537145774827

In [73]:
passing_math = full_data_df[full_data_df["math_score"] >= 70]
passing_reading = full_data_df[full_data_df["reading_score"] >= 70]

In [74]:
passing_math_count = passing_math["student_name"].count()
passing_reading_count = passing_reading["student_name"].count()

In [75]:
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_reading_percentage = passing_reading_count / float(student_count) * 100

In [76]:
overall_pass = full_data_df[(full_data_df["math_score"] >= 70) & (full_data_df["reading_score"] >= 70)]
overall_pass_count = overall_pass["student_name"].count()
overall_pass_percent = overall_pass_count / student_count * 100
overall_pass_percent

65.17232575950983

In [77]:
district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count,
          "Total Students": student_count,
          "Total Budget": total_budget,
          "Average Math Score": average_math_score,
          "Average Reading Score": average_reading_score,
          "% Passing Math": passing_math_percentage,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": overall_pass_percent}])
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [78]:
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)

district_summary_df["Total Students"]

0    39,170
Name: Total Students, dtype: object

In [79]:
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

district_summary_df["Total Budget"]

0    $24,649,428.00
Name: Total Budget, dtype: object

In [80]:
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)

district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)

district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.0f}".format)

district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}".format)

district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.0f}".format)

In [81]:
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75,86,65

In [82]:
new_column_order = ["Total Schools", "Total Students", "Total Budget","Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]

district_summary_df = district_summary_df[new_column_order]
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75,86,65